body {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    padding: .5em 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    padding-top: .5em;
}

small {
    font-size: .5em;
}
